---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Herderrock">
  <main>
    <section class="hero">
      <img
        src="/hk-afterwork-25.jpg"
        class="hero-image hero-image-m"
        width="100%"
        alt="Herderrock zaterdag 31 augustus 2024"
      />
      <img
        src="/hk-afterwork-25-d.jpg"
        class="hero-image hero-image-d"
        width="100%"
        alt="Herderrock zaterdag 31 augustus 2024"
      />
    </section>
    <section class="hero banner margin-top padding-top padding-bottom">
        <a class="wave" href="https://herderrock.eventsquare.store/" target="_blank">
          TICKETS WAVE 2 NU BESCHIKBAAR
        </a
        >
    </section>
    <section class="in-the-picture padding-top">
      <h2 class="title title-left">Band in the <strong>PICTURE</strong></h2>
      <article class="band-highlight padding-x padding-y">
        <div class="pic">
          <img src="/de-mens.jpg" alt="band in the picture DE MENS" />
        </div>
        <div class="band-text padding-x">
          <h3>De Mens</h3>
          <p>
            De Headliner van Herderrock 2025 is niemand minder dan *De Mens*! 🤩
            Frontman Frank Vander linden schittert momenteel elke week op het
            podium van 'Liefde voor Muziek' op VTM, maar op 6 september
            schittert hij samen met De Mens op ons podium! 🔥
          </p>
          <a href="https://www.youtube.com/watch?v=ToOGAliC2Ps" target="_blank"
            >Bekijk Ergens onderweg op YouTube</a
          ><br />
          <a
            href="https://open.spotify.com/artist/0suJQKq7btdiC24Hr6YtyY?si=Ap2qDs16QLuNDYPnE8moTA"
            target="_blank">Beluister De Mens op Spotify</a
          >
        </div>
      </article>
    </section>
    <section id="about" class="about padding-y">
      <article class="about-left padding-x">
        <p>Herderrock, een cosy festival sinds 1985</p>
        <p>
          Wat startte als een projectje in de tuin van het plaatselijke
          jeugdhuis, is ondertussen reeds uitgegroeid tot een klassieker in de
          streek.
        </p>
        <p>
          Elk jaar streven we voor een cosy ervaring voor jong en al iets ouder,
          met de nadruk op lokaal talent maar ook de belgische rising stars in
          de rockwereld komen aan bod.
        </p>
        <p id="mb">
          Dit jaar vieren we onze 40ste editie, en dat doen we met een
          spectaculaire affiche. Op <strong>6 september</strong>, te
          festivalweide Lambrecht Herdersem
        </p>
        <div class="cta-buttons">
          <a
            class="button"
            id="tickets"
            href="https://herderrock.eventsquare.store/"
            target="_blank">Bestel hier je TICKETS</a
          >
          <!-- <a
            class="button"
            id="tshirt"
            href="https://forms.gle/qE89soAh5ZMp7Xrw9"
            target="_blank">Bestel hier je TSHIRT</a
          > -->
        </div>
      </article>
      <article class="about-right">
        <img src="/movie.webp" loading="lazy" alt="aftermovie" />
      </article>
    </section>
    <section id="line-up" class="bands padding-y">
      <div class="full">
        <div class="empty-50"></div>
        <h2 class="title title-right">
          Onze volledige <strong>LINE-UP</strong>
        </h2>
      </div>

      <div class="full wrap center padding-y">
        <article class="single-band">
          <div class="bg-white">
            <img src="/tba.jpg" alt="band tba" />
            <h3>TBA</h3>
            <h4>TIME TBA</h4>
          </div>
        </article>
        <article class="single-band">
          <div class="bg-white">
            <img src="/tba.jpg" alt="band tba" />
            <h3>TBA</h3>
            <h4>TIME TBA</h4>
          </div>
        </article>
        <article class="single-band">
          <div class="bg-white">
            <img src="/waxflower.JPG" alt="band Waxflower" />
            <h3>WAXFLOWER</h3>
            <h4>TIME TBA</h4>
          </div>
        </article>

        <article class="single-band bigger">
          <div class="bg-white">
            <img src="/tba.jpg" alt="band tba" />
            <h3>TBA</h3>
            <h4>TIME TBA</h4>
          </div>
        </article>
        <article class="single-band bigger">
          <div class="bg-white">
            <img src="/de-mens.jpg" alt="band de mens" />
            <h3>De Mens</h3>
            <h4>TIME TBA</h4>
          </div>
        </article>
        <article class="single-band">
          <div class="bg-white">
            <img src="/tba.jpg" alt="band tba" />
            <h3>TBA</h3>
            <h4>TIME TBA</h4>
          </div>
        </article>
        <article class="single-band">
          <div class="bg-white">
            <img src="/tba.jpg" alt="band tba" />
            <h3>TBA</h3>
            <h4>TIME TBA</h4>
          </div>
        </article>
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    width: 100%;
  }

  .logo h1 {
    display: none;
  }

  .hero {
    background-color: var(--red);
  }
  .hero-image {
    min-width: 100%;
    max-height: 600px;
    object-fit: contain;
    background-color: black;
  }

  .hero-image-m {
    display: none;
  }
  .hero-image-d {
    display: block;
  }

  .banner {
    background-color: var(--red);
    background-image: url("/bg-hk-25.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--red);
  }

  .button {
    padding: 12px 16px;
    background-color: var(--red);
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    border: 2px dashed var(--red);
  }

  #tshirt {
    background-color: var(--white);
    color: var(--red);
    border: 2px dashed var(--red);
  }

  .cta-buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .button:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }

  .about-left {
    width: 40%;
  }

  .about-right {
    width: 60%;
    max-height: 100%;
  }

  .about-right img {
    width: 100%;
    object-fit: contain;
  }

  #mb {
    margin-bottom: 64px;
  }

  .wave {
    color: var(--white);
    text-decoration: none;
    padding: 12px 16px;
    font-size: 18px;


    font-weight: bold;
    text-align: center;
    border: 2px solid var(--white);
    display: block;
    margin: 0 auto;
    width: 50%;
    transition: all 0.3s ease;

  }

  .wave:hover {
    background-color: var(--white);
    color: var(--red);
    transition: all 0.3s ease;
  }

  .lineup {
    background-color: var(--primary-gray);
  }

  .band-highlight {
    background-color: var(--primary-gray);
    display: flex;
  }

  .band-highlight .pic {
    width: 50%;
  }

  .band-highlight img {
    width: 100%;
    max-height: 600px;
    object-fit: contain;
  }

  .band-text h3 {
    font-size: 32px;
    font-weight: bold;
    color: var(--red);
  }

  .band-text a {
    color: var(--red);
  }

  .band-text {
    font-size: 18px;
  }

  .bands {
    background-color: var(--red);
  }

  .full {
    width: 100%;
    display: flex;
  }

  .wrap {
    flex-wrap: wrap;
  }

  .single-band {
    width: calc(33% - 32px);
    padding: 16px;
  }
  .single-band.bigger {
    width: calc(50% - 32px);
    padding: 16px;
  }
  .single-band img {
    width: 100%;
    min-height: 150px;
    max-height: 350px;
    object-fit: cover;
  }

  .center {
    justify-content: center;
  }

  .single-band h3,
  .single-band h4 {
    padding-left: 8px;
  }

  @media only screen and (max-width: 1400px) {
    .band-highlight .pic {
      width: 80%;
    }
  }

  @media only screen and (max-width: 992px) {
    .band-highlight .pic {
      width: 100%;
    }
    .hero-image-m {
      display: block;
    }
    .hero-image-d {
      display: none;
    }
  }

  @media only screen and (max-width: 768px) {
    .single-band {
      width: calc(50% - 32px);
    }

    .single-band.bigger {
      width: calc(100% - 32px);
    }

    .band-highlight .pic {
      width: 100%;
    }

    .band-highlight {
      flex-direction: column;
    }

    .about {
      width: 100%;
      display: block;
    }

    .about-right {
      width: 100%;
      margin-top: 32px;
    }

    .about-left {
      width: auto;
      padding-left: 20px;
    }
    .cta-buttons {
      justify-content: center;
    }
    .wave {
      width: 60%;
    }
  }

  @media only screen and (max-width: 600px) {
    .single-band {
      width: calc(100% - 32px);
    }
    .wave {
      width: 70%;
    }
  }
</style>
