---
import Layout from "../layouts/Layout.astro";
import VIPSponsors from "../components/VIPSponsors.astro";
---

<Layout title="Sponsors | Herderrock">
  <main>
    <VIPSponsors title="Dank aan onze SPONSORS" />
  </main>

  <section class="comfort padding-y padding-x wrap">
    <img class="black-and-white" src="/sponsors/comfort/vds.webp" alt="VDS Vastgoedexpert" />
    <img class="invert" src="/sponsors/comfort/odt.webp" alt="Eetcafe Onder den Toren" />
    <img src="/sponsors/comfort/stad-w.webp" alt="Stad Aalst" />
    <img src="/sponsors/comfort/vanmolle-w.webp" alt="Van Molle" />
    <img src="/sponsors/comfort/ddm.webp" alt="De Meersman" />
    <img src="/sponsors/comfort/brainpowerproductions.webp" alt="Brain Power Productions" />
    <img src="/sponsors/comfort/bruckershof.webp" alt="Bruckershof" />
    <img class="black-and-white" src="/sponsors/comfort/Lieven-DC.webp" alt="De Cock Lieven" />
    <img src="/sponsors/comfort/jurgen-w.webp" alt="Jurgen Schrijnwerk" />
    <img src="/sponsors/comfort/debiek.webp" alt="Hostellerie De Biek" />
    <img src="/sponsors/comfort/steven-w.webp" alt="Steven De Ridder" />
    <img src="/sponsors/comfort/jvl.webp" alt="Jonas Van Lierde Projects" />
    <img src="/sponsors/comfort/ERIK DC wit.webp" alt="Erik De Cock" />
    <img class="black-and-white" src="/sponsors/comfort/FoFie_DavidCooreman.webp" alt="Fo & Fie en Cooreman David" />
    <img class="black-and-white" src="/sponsors/comfort/Kapsuul.webp" alt="Kapsuul Beer Co." />
    <img class="black-and-white" src="/sponsors/comfort/Vlekkeloos.webp" alt="Vlekkeloos Zetel- en Tapijtreiniging" />
    <img class="black-and-white" src="/sponsors/comfort/Guna.webp" alt="Guna Projects" />
  </section>

  <section class="basic padding-y padding-x wrap">
    <img class="black-and-white" src="/sponsors/basic/flora.webp" alt="Flora" />
    <img class="black-and-white" src="/sponsors/basic/kristof.webp" alt="Kristof Van Goethem" />
    <img class="black-and-white" src="/sponsors/basic/casakoekeroel.webp" alt="Casa Koekeroel" />
    <img class="black-and-white" src="/sponsors/basic/joli.webp" alt="Joli Lingerie" />
    <img class="black-and-white" src="/sponsors/basic/stevederop.webp" alt="Steve De Rop" />
    <img src="/sponsors/comfort/primus-w.webp" alt="Primus Haacht" />
  </section>
</Layout>

<style>
  .black-and-white {
    filter: grayscale(100%);
  }

  .invert {
    filter: invert();
  }

  main {
    width: 100%;
  }

  .comfort {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    gap: 16px;
  }

  .basic {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    gap: 16px;
  }

  .comfort img {
    width: 15%;
    max-height: 400px;
    object-fit: contain;
  }

  .basic img {
    width: 10%;
    max-height: 400px;
    object-fit: contain;
  }

  .wrap {
    flex-wrap: wrap;
  }

  @media only screen and (max-width: 992px) {
    .comfort img {
      width: 30%;
    }

    .basic img {
      width: 20%;
    }
  }

  @media only screen and (max-width: 768px) {
    .comfort img {
      width: 45%;
    }

    .basic img {
      width: 30%;
    }
  }
</style>
