---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Herderrock, cosy festival sinds 1985" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <a href="https://herderrock.be" class="logo"><h1>Herderrock</h1></a>
      <div class="hamburger" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="menu" id="menu" onclick="toggleMenu()">
        <a href="/">Home</a>
        <a href="/#about">Over ons</a>
        <a href="/#line-up">Line-up</a>
        <a href="/sponsors">Sponsors</a>
        <a href="/faq">FAQ</a>
      </div>
    </header>
    <section class="hero">
      <img
        src="/hk-afterwork-25.jpg"
        class="hero-image hero-image-m"
        width="100%"
        alt="Herderrock zaterdag 31 augustus 2024"
      />
      <img
        src="/hk-afterwork-25-d.jpg"
        class="hero-image hero-image-d"
        width="100%"
        alt="Herderrock zaterdag 31 augustus 2024"
      />
    </section>
    <section class="hero banner margin-top padding-top padding-bottom">
      <a class="wave" href="https://herderrock.eventsquare.store/" target="_blank">
        LAATSTE TICKETS NU BESCHIKBAAR
      </a
      >
    </section>
    <slot />
    <footer>© Herderrock 1985 - 2024</footer>
    <script>
      const toggleMenu = () => {
        const menu = document.getElementById("menu");
        const hamburger = document.querySelector(".hamburger");
        if (menu && hamburger) {
          menu.classList.toggle("active");
          hamburger.classList.toggle("active");
        }
      };

      //@ts-ignore
      window.toggleMenu = toggleMenu;
    </script>
  </body>
</html>
<style is:global>
  :root {
    --red: #e20613;
    --white: #fff;
    --primary-gray: #f3f0ef;
    --black: #11110e;
    --bp-tablet: 768px;
  }
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  html {
    font-family: Arial, sans-serif;
    background: ##fff;
  }
  body {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
  }

  h3 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  .logo {
    width: 200px;
    height: 200px;
    background-image: url("/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
  }

  .logo:hover {
    background-image: url("/logo-hover.png");
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
  }

  .logo h1 {
    display: none;
  }
  header {
    background-color: var(--red);
    display: flex;
    justify-content: center;
  }

  strong {
    font-weight: bolder;
    color: var(--red);
  }

  .padding-y {
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .padding-top {
    padding-top: 3%;
  }
  .padding-bottom {
    padding-bottom: 3%;
  }
  .padding-x {
    padding-left: 5%;
    padding-right: 5%;
  }

  .margin-top {
    margin-top: 3%;
  }
  .margin-bottom {
    margin-bottom: 3%;
  }

  .title-left {
    padding: 16px;
    background-color: var(--red);
    color: var(--white);
    text-align: right;
  }

  .title-left strong {
    color: var(--white);
    border: 2px dashed var(--white);
    padding: 4px 16px;
  }

  .title-right {
    padding: 16px;
    background-color: var(--primary-gray);
    color: var(--white);
    text-align: left;
    background-image: url("/bg-hk-25.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .title-right strong {
    color: var(--white);
    border: 2px dashed var(--white);
    padding: 4px 16px;

  }

  .empty-50 {
    width: 50%;
    height: 1px;
    display: block;
  }

  section .title {
    width: 50%;
    -webkit-transition: width 0.2s ease-out;
    transition: width 0.2s ease-out;
  }

  section:hover .title {
    width: 70%;
    -webkit-transition: width 0.2s ease-out;
    transition: width 0.2s ease-out;
  }
  .bg-white {
    background-color: var(--white);
  }

  footer {
    color: var(--white);
    background-color: var(--black);
    padding: 16px;
    text-align: center;
  }

  .hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 25px;
    justify-content: space-between;
    position:fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
    background-color: var(--red);
    padding: 16px;
  }
  .hamburger div {
    background-color: var(--white);
    height: 4px;
    border-radius: 2px;
    transition: transform 0.3s ease-in-out;
  }
  .hamburger.active div:nth-child(1) {
    transform: rotate(45deg) translate(7.5px, 7.5px);
  }
  .hamburger.active div:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active div:nth-child(3) {
    transform: rotate(-45deg) translate(7.5px, -7.5px);
  }
  .menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .menu.active {
    display: flex;
    opacity: 1;
  }
  .menu a {
    color: var(--red);
    padding: 16px;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    transition: color 0.3s ease-in-out;
  }
  .menu a:hover {
    color: #ff6347;
  }

  .hero {
    background-color: var(--red);
  }
  .hero-image {
    min-width: 100%;
    max-height: 600px;
    object-fit: contain;
    background-color: black;
  }

  .hero-image-m {
    display: none;
  }
  .hero-image-d {
    display: block;
  }

  .banner {
    background-color: var(--red);
    background-image: url("/bg-hk-25.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--red);
  }

  .wave {
    color: var(--white);
    text-decoration: none;
    padding: 12px 16px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: 2px solid var(--white);
    display: block;
    margin: 0 auto;
    width: 50%;
    transition: all 0.3s ease;
  }

  .wave:hover {
    background-color: var(--white);
    color: var(--red);
    transition: all 0.3s ease;
  }

  @media only screen and (max-width: 768px) {
    section .title {
      width: 90%;
    }
    section:hover .title {
      width: 90%;
    }
    .empty-50 {
      width: 10%;
    }

    .padding-y {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  @media only screen and (max-width: 992) {
    .hero-image-m {
      display: block;
    }
    .hero-image-d {
      display: none;
    }
  }
</style>
